/* Body and Type Styles Start */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Caslon+Text&display=swap');

html {font-size: 24px;}

body {
  background-color: black;
  font-family: 'Libre Caslon Text', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
  padding: 1em;
  margin: 1em;
}

p {margin-bottom: 1.25em; }
a {color: black; text-decoration: none;}
a:hover {color: #008CBA; }
img {width: 100%; padding: 1em;}

h1, h2, h3 {
  margin: 2.75rem 0 1rem;  
  font-family: 'Abril Fatface', cursive;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 5em;
}

h2 {font-size: 2.441em; }

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em; font-style: italic; font-weight: bold;}

/* Body and Type Styles End */

/* Main Navigation Start */

.main-nav {
  display: -webkit-flex;
  display: flex;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  color: #000000;
	display: block;
	padding: 20px;
	text-decoration: none;
}

.main-nav a:hover {
color: #008CBA;
}
    
li {list-style: none;}

/* Main Navigation End */

/* Button Styles Start */

.button {
    display: block;
}

.button1 {
    background-color: #4CAF50;
    font-family: 'Libre Caslon Text', serif;
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

/* Button Styles End */

/* Main Container Layout Styles Start */

.container {
    background-color: white;
    padding: 2em;
    max-height: 100%;
}

main {
    padding: 1.2em;
    margin: 1.2em;
}

.layout {
    display: grid;
            }
    
.layout-item {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 20px;
}
            
.layout-item img {
    width: 100%;
    object-fit: cover;
}

.layout-about {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* Main Container Layout Styles End */

/* Footer Styles Start */

footer {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
}

footer ul li  {
    list-style: none;
}

.footer-nav ul li {
    display: inline-grid;
    padding: 20px;
}

/* Footer Styles End */

/* Image and Paragraph Widths */

.imgpadding {
    padding-top: 100px; padding-bottom: 100px;
}
.cswidth p {
    width: 50vw; 
}

/* End of Stylesheet */



